.border-dark {
  border: 1px solid red;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 25%;
  height: 100vh;
}

.flex-right {
  width: 75%;
}

.grid-stack-item {
  background-color: #e8eeee;
}

.red {
  border: 1px solid red;
}

.blue {
  border: 3px solid blue;
}

.red-dash {
  border: 3px dashed red;
}

/* .highcharts-container{
  width:100% !important;
} */